<h2>Tool Bars</h2>

<div id="sampleDemo" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
              
      <div id="toolbar-container">
        <oj-checkboxset
          id="checkboxSet"
          value="{{toolbarClassNames}}"
          label-hint="Classes to apply to the toolbar:"
          label-edge="inside">
          <oj-option id="topBorder" value="oj-toolbar-top-border">
            .oj-toolbar-top-border (Optional.)
          </oj-option>
          <oj-option id="bottomBorder" value="oj-toolbar-bottom-border">
            .oj-toolbar-bottom-border (Optional.)
          </oj-option>
        </oj-checkboxset>
        <br />
        <br />
      
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <h6>Toolbar with Borderless Chroming</h6>
        <!-- This :class attribute binding applies the style classes selected above. -->
        <oj-toolbar
          id="myToolbar"
          aria-label="Editing Toolbar"
          aria-controls="controlled"
          :class="[[{'oj-toolbar-top-border': isSelected('oj-toolbar-top-border'), 
                            'oj-toolbar-bottom-border': isSelected('oj-toolbar-bottom-border')}]]">
          <oj-button id="chat" display="icons">
            <span slot="startIcon" class="oj-ux-ico-chat"></span>
            Chat
          </oj-button>
          <oj-c-button id="paint" display="icons" label="Paint">
            <span slot="startIcon" class="oj-ux-ico-color-palette"></span>
          </oj-c-button>
          <oj-button id="bookmark" display="icons" disabled="true">
            <span slot="startIcon" class="oj-ux-ico-bookmark-selected"></span>
            Bookmark
          </oj-button>
      
          <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
      
          <oj-menu-button id="menuButton">
            File
            <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
            <oj-menu id="myMenu" slot="menu" on-oj-menu-action="[[menuItemAction]]">
              <oj-bind-for-each data="[[fileMenuItems]]">
                <template>
                  <oj-option
                    :id="[[$current.data.id]]"
                    disabled="[[$current.data.disabled]]"
                    value="[[$current.data.label]]">
                    <oj-bind-if test="[[$current.data.icon]]">
                      <span slot="startIcon" :class="[[$current.data.icon]]"></span>
                    </oj-bind-if>
                    <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                  </oj-option>
                </template>
              </oj-bind-for-each>
            </oj-menu>
          </oj-menu-button>
      
          <oj-c-menu-button label="View" id="cMenuButton" items="[[cMenuButtonItems]]"></oj-c-menu-button>
      
          <oj-c-split-menu-button
            chroming="outlined"
            id="cSplitMenuButton"
            label="[[cSplitMenuButtonText]]"
            items="[[cSplitMenuButtonItems]]"></oj-c-split-menu-button>
      
          <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
      
          <oj-buttonset-many id="iconset" display="icons" focus-management="none">
            <oj-bind-for-each data="[[someButtons]]">
              <template>
                <oj-option value="[[$current.data.id]]">
                  <span slot="startIcon" :class="[[$current.data.icon]]"></span>
                  <span>
                    <oj-bind-text value="[[$current.data.id]]"></oj-bind-text>
                  </span>
                </oj-option>
              </template>
            </oj-bind-for-each>
          </oj-buttonset-many>
        </oj-toolbar>
        <div class="oj-typography-body-sm oj-sm-margin-2x-top">
          Note: split menu button doesn't support borderless chroming.
        </div>
        <br />
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <h6>Toolbar with Outlined Chroming</h6>
        <oj-toolbar
          id="myToolbar1"
          aria-label="Editing Toolbar"
          aria-controls="controlled"
          chroming="outlined"
          :class="[[{'oj-toolbar-top-border': isSelected('oj-toolbar-top-border'), 
                            'oj-toolbar-bottom-border': isSelected('oj-toolbar-bottom-border')}]]">
          <oj-button id="chat1" display="icons">
            <span slot="startIcon" class="oj-ux-ico-chat"></span>
            Chat
          </oj-button>
          <oj-c-button id="paint1" display="icons" label="Paint">
            <span slot="startIcon" class="oj-ux-ico-color-palette"></span>
          </oj-c-button>
          <oj-button id="bookmark1" display="icons" disabled="true">
            <span slot="startIcon" class="oj-ux-ico-bookmark-selected"></span>
            Bookmark
          </oj-button>
      
          <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
      
          <oj-menu-button id="menuButton1">
            File
            <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
            <oj-menu id="myMenu1" slot="menu" on-oj-menu-action="[[menuItemAction]]">
              <oj-bind-for-each data="[[fileMenuItems]]">
                <template>
                  <oj-option
                    :id="[[$current.data.id]]"
                    disabled="[[$current.data.disabled]]"
                    value="[[$current.data.label]]">
                    <oj-bind-if test="[[$current.data.icon]]">
                      <span slot="startIcon" :class="[[$current.data.icon]]"></span>
                    </oj-bind-if>
                    <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                  </oj-option>
                </template>
              </oj-bind-for-each>
            </oj-menu>
          </oj-menu-button>
      
          <oj-c-menu-button
            label="View"
            id="cMenuButton1"
            items="[[cMenuButtonItems]]"></oj-c-menu-button>
      
          <oj-c-split-menu-button
            id="cSplitMenuButton1"
            label="[[cSplitMenuButtonText]]"
            items="[[cSplitMenuButtonItems]]"></oj-c-split-menu-button>
      
          <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
      
          <oj-buttonset-many id="iconset1" display="icons" focus-management="none">
            <oj-bind-for-each data="[[someButtons]]">
              <template>
                <oj-option value="[[$current.data.id]]">
                  <span slot="startIcon" :class="[[$current.data.icon]]"></span>
                  <span>
                    <oj-bind-text value="[[$current.data.id]]"></oj-bind-text>
                  </span>
                </oj-option>
              </template>
            </oj-bind-for-each>
          </oj-buttonset-many>
        </oj-toolbar>
        <!-- In a real app, the element referenced by aria-controls would actually be updated in some way by the toolbar. -->
        <br />
        <br />
        <a id="controlled" href="#">Element referenced by toolbar's aria-controls</a>
      </div>
      
      
      
    </div>
  </div>