<h2>Progress Bars</h2>

<div id="sampleDemo" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
              
      <div id="progressBarWrapper">
        <div class="oj-sm-margin-1x-bottom">Indeterminate Progress Bar</div>
        <oj-c-progress-bar class="oj-sm-margin-4x-bottom demo-width" value="-1"></oj-c-progress-bar>
      
        <hr class="oj-sm-margin-4x-vertical" />
      
        <div class="oj-sm-margin-1x-bottom">Determinate Progress Bar</div>
        <oj-c-progress-bar
          class="oj-sm-margin-4x-bottom demo-width"
          id="progressBar"
          value="{{progressValue}}"></oj-c-progress-bar>
      
        <hr class="oj-sm-margin-4x-vertical" />
       
       
      
      </div>
      
      
      
    </div>
  </div>